.vertical_center_align {

  line-height: 80px;

}

.avatar_button:hover {

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18)
}


.header_and_search_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}